In [6]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/personal-key-indicators-of-heart-disease/2020/heart_2020_cleaned.csv
/kaggle/input/personal-key-indicators-of-heart-disease/2022/heart_2022_with_nans.csv
/kaggle/input/personal-key-indicators-of-heart-disease/2022/heart_2022_no_nans.csv
/kaggle/input/not-cleaned-data/heart_disease.csv

In [55]:
import numpy as np 
import pandas as pd 
import matplotlib as plt 
import os

In [8]:
# Loading Data 
files = os.listdir('/kaggle/input/not-cleaned-data')

# Read each file
for file in files:
    if file.endswith('.csv'):
        data = pd.read_csv(os.path.join('/kaggle/input/not-cleaned-data', file))

In [9]:
data.shape

(319795, 18)

In [10]:
data.info

<bound method DataFrame.info of        HeartDisease    BMI Smoking AlcoholDrinking Stroke  PhysicalHealth  \
0                No  16.60     Yes              No     No             3.0
1                No  20.34      No              No    Yes             0.0
2                No  26.58     Yes              No     No            20.0
3                No  24.21      No              No     No             0.0
4                No  23.71      No              No     No            28.0
...             ...    ...     ...             ...    ...             ...
319790          Yes  27.41     Yes              No     No             7.0
319791           No  29.84     Yes              No     No             0.0
319792           No  24.24      No              No     No             0.0
319793           No  32.81      No              No     No             0.0
319794           No  46.56      No              No     No             0.0

        MentalHealth DiffWalking     Sex  AgeCategory      Race Diabetic  \
0               30.0          No  Female        55-59     White      Yes
1                0.0          No  Female  80 or older     White       No
2               30.0          No    Male        65-69     White      Yes
3                0.0          No  Female        75-79     White       No
4                0.0         Yes  Female        40-44     White       No
...              ...         ...     ...          ...       ...      ...
319790           0.0         Yes    Male        60-64  Hispanic      Yes
319791           0.0          No    Male        35-39  Hispanic       No
319792           0.0          No  Female        45-49  Hispanic       No
319793           0.0          No  Female        25-29  Hispanic       No
319794           0.0          No  Female  80 or older  Hispanic       No

       PhysicalActivity  GenHealth  SleepTime Asthma KidneyDisease SkinCancer
0                   Yes  Very good        5.0    Yes            No        Yes
1                   Yes  Very good        7.0     No            No         No
2                   Yes       Fair        8.0    Yes            No         No
3                    No       Good        6.0     No            No        Yes
4                   Yes  Very good        8.0     No            No         No
...                 ...        ...        ...    ...           ...        ...
319790               No       Fair        6.0    Yes            No         No
319791              Yes  Very good        5.0    Yes            No         No
319792              Yes       Good        6.0     No            No         No
319793               No       Good       12.0     No            No         No
319794              Yes       Good        8.0     No            No         No

[319795 rows x 18 columns]>

In [11]:
data.columns

Index(['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke',
       'PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Sex', 'AgeCategory',
       'Race', 'Diabetic', 'PhysicalActivity', 'GenHealth', 'SleepTime',
       'Asthma', 'KidneyDisease', 'SkinCancer'],
      dtype='object')

In [12]:
data.describe

<bound method NDFrame.describe of        HeartDisease    BMI Smoking AlcoholDrinking Stroke  PhysicalHealth  \
0                No  16.60     Yes              No     No             3.0
1                No  20.34      No              No    Yes             0.0
2                No  26.58     Yes              No     No            20.0
3                No  24.21      No              No     No             0.0
4                No  23.71      No              No     No            28.0
...             ...    ...     ...             ...    ...             ...
319790          Yes  27.41     Yes              No     No             7.0
319791           No  29.84     Yes              No     No             0.0
319792           No  24.24      No              No     No             0.0
319793           No  32.81      No              No     No             0.0
319794           No  46.56      No              No     No             0.0

        MentalHealth DiffWalking     Sex  AgeCategory      Race Diabetic  \
0               30.0          No  Female        55-59     White      Yes
1                0.0          No  Female  80 or older     White       No
2               30.0          No    Male        65-69     White      Yes
3                0.0          No  Female        75-79     White       No
4                0.0         Yes  Female        40-44     White       No
...              ...         ...     ...          ...       ...      ...
319790           0.0         Yes    Male        60-64  Hispanic      Yes
319791           0.0          No    Male        35-39  Hispanic       No
319792           0.0          No  Female        45-49  Hispanic       No
319793           0.0          No  Female        25-29  Hispanic       No
319794           0.0          No  Female  80 or older  Hispanic       No

       PhysicalActivity  GenHealth  SleepTime Asthma KidneyDisease SkinCancer
0                   Yes  Very good        5.0    Yes            No        Yes
1                   Yes  Very good        7.0     No            No         No
2                   Yes       Fair        8.0    Yes            No         No
3                    No       Good        6.0     No            No        Yes
4                   Yes  Very good        8.0     No            No         No
...                 ...        ...        ...    ...           ...        ...
319790               No       Fair        6.0    Yes            No         No
319791              Yes  Very good        5.0    Yes            No         No
319792              Yes       Good        6.0     No            No         No
319793               No       Good       12.0     No            No         No
319794              Yes       Good        8.0     No            No         No

[319795 rows x 18 columns]>

In [13]:
data.describe(include='O').transpose()

                   count unique        top    freq
HeartDisease      319795      2         No  292422
Smoking           319795      2         No  187887
AlcoholDrinking   319795      2         No  298018
Stroke            319795      2         No  307726
DiffWalking       319795      2         No  275385
Sex               319795      2     Female  167805
AgeCategory       319795     13      65-69   34151
Race              319795      6      White  245212
Diabetic          319795      4         No  269653
PhysicalActivity  319795      2        Yes  247957
GenHealth         319795      5  Very good  113858
Asthma            319795      2         No  276923
KidneyDisease     319795      2         No  308016
SkinCancer        319795      2         No  289976

In [14]:
data.isna().sum()

HeartDisease        0
BMI                 0
Smoking             0
AlcoholDrinking     0
Stroke              0
PhysicalHealth      0
MentalHealth        0
DiffWalking         0
Sex                 0
AgeCategory         0
Race                0
Diabetic            0
PhysicalActivity    0
GenHealth           0
SleepTime           0
Asthma              0
KidneyDisease       0
SkinCancer          0
dtype: int64

In [15]:
data.isna().values.any()

False

In [16]:
data[data.duplicated()]

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
2182,No,19.85,No,No,No,0.0,0.0,No,Female,80 or older,White,No,Yes,Excellent,7.0,No,No,No
3182,No,28.19,No,No,No,0.0,0.0,No,Female,50-54,White,No,Yes,Excellent,7.0,No,No,No
3397,No,26.54,No,No,No,0.0,0.0,No,Male,45-49,White,No,Yes,Excellent,6.0,No,No,No
3650,No,32.89,Yes,No,No,2.0,1.0,No,Female,50-54,White,No,Yes,Good,9.0,No,No,No
4061,No,25.84,No,No,No,0.0,0.0,No,Female,40-44,White,No,Yes,Excellent,8.0,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319671,No,25.06,No,No,No,0.0,0.0,No,Male,40-44,Hispanic,No,Yes,Excellent,7.0,No,No,No
319689,No,27.44,No,No,No,0.0,0.0,No,Female,30-34,Hispanic,No,Yes,Very good,6.0,No,No,No
319726,No,30.41,No,No,No,0.0,0.0,No,Male,18-24,Hispanic,No,Yes,Excellent,7.0,No,No,No
319751,No,34.96,No,No,No,0.0,0.0,No,Male,18-24,Hispanic,No,Yes,Excellent,6.0,No,No,No
319776,No,27.98,No,No,No,0.0,0.0,No,Female,50-54,Hispanic,No,No,Good,8.0,No,No,No

In [17]:
data['HeartDisease'].value_counts()

HeartDisease
No     292422
Yes     27373
Name: count, dtype: int64

## Data Analysis

In [18]:
# check how many people have  HeartDisease or not
data['HeartDisease'].value_counts()

HeartDisease
No     292422
Yes     27373
Name: count, dtype: int64

In [19]:
#how many of Male and female
data['Sex'].value_counts()

Sex
Female    167805
Male      151990
Name: count, dtype: int64

In [20]:
data.groupby(['Sex','HeartDisease'])['HeartDisease'].count()

Sex     HeartDisease
Female  No              156571
        Yes              11234
Male    No              135851
        Yes              16139
Name: HeartDisease, dtype: int64

In [21]:
#AgeCategory frequency
data['AgeCategory'].value_counts()

AgeCategory
65-69          34151
60-64          33686
70-74          31065
55-59          29757
50-54          25382
80 or older    24153
45-49          21791
75-79          21482
18-24          21064
40-44          21006
35-39          20550
30-34          18753
25-29          16955
Name: count, dtype: int64

In [22]:
data.groupby(['AgeCategory','HeartDisease'])['HeartDisease'].count()

AgeCategory  HeartDisease
18-24        No              20934
             Yes               130
25-29        No              16822
             Yes               133
30-34        No              18527
             Yes               226
35-39        No              20254
             Yes               296
40-44        No              20520
             Yes               486
45-49        No              21047
             Yes               744
50-54        No              23999
             Yes              1383
55-59        No              27555
             Yes              2202
60-64        No              30359
             Yes              3327
65-69        No              30050
             Yes              4101
70-74        No              26218
             Yes              4847
75-79        No              17433
             Yes              4049
80 or older  No              18704
             Yes              5449
Name: HeartDisease, dtype: int64

In [23]:
#the count of people Smoking
data['Smoking'].value_counts()

Smoking
No     187887
Yes    131908
Name: count, dtype: int64

In [24]:
data.groupby(['Sex','AgeCategory','Smoking','HeartDisease'])['HeartDisease'].count()

Sex     AgeCategory  Smoking  HeartDisease
Female  18-24        No       No              8252
                              Yes               40
                     Yes      No              1132
                              Yes               10
        25-29        No       No              5918
                                              ...
Male    75-79        Yes      Yes             1563
        80 or older  No       No              3007
                              Yes             1092
                     Yes      No              3609
                              Yes             1729
Name: HeartDisease, Length: 104, dtype: int64

In [25]:
# I want to Know how many people drink the AlcoholDrinking or not
data['AlcoholDrinking'].value_counts()

AlcoholDrinking
No     298018
Yes     21777
Name: count, dtype: int64

In [26]:
data.groupby(['AlcoholDrinking','HeartDisease'])['HeartDisease'].count()

AlcoholDrinking  HeartDisease
No               No              271786
                 Yes              26232
Yes              No               20636
                 Yes               1141
Name: HeartDisease, dtype: int64

In [27]:
data.groupby(['Sex','AgeCategory','AlcoholDrinking','PhysicalActivity','HeartDisease'])['HeartDisease'].count()

Sex     AgeCategory  AlcoholDrinking  PhysicalActivity  HeartDisease
Female  18-24        No               No                No              1427
                                                        Yes                9
                                      Yes               No              7222
                                                        Yes               38
                     Yes              No                No                66
                                                                        ...
Male    80 or older  No               Yes               Yes             1791
                     Yes              No                No                59
                                                        Yes               34
                                      Yes               No               128
                                                        Yes               41
Name: HeartDisease, Length: 208, dtype: int64

In [ ]:
#I want to know how many people have KidneyDisease
data['KidneyDisease'].value_counts()

In [ ]:
#show the peolple who have KidneyDisease and HeartDisease
data.groupby(['KidneyDisease','HeartDisease'])['HeartDisease'].count()

In [ ]:
data.groupby(['Sex','KidneyDisease','HeartDisease'])['HeartDisease'].count()

In [ ]:
data.groupby(['Sex','KidneyDisease'])['KidneyDisease'].count()

In [28]:
data['SkinCancer'].value_counts()

SkinCancer
No     289976
Yes     29819
Name: count, dtype: int64

In [29]:
data.groupby(['Sex','SkinCancer'])['SkinCancer'].count()

Sex     SkinCancer
Female  No            152782
        Yes            15023
Male    No            137194
        Yes            14796
Name: SkinCancer, dtype: int64

In [30]:
data.groupby(['Sex','SkinCancer','HeartDisease'])['HeartDisease'].count()

Sex     SkinCancer  HeartDisease
Female  No          No              143226
                    Yes               9556
        Yes         No               13345
                    Yes               1678
Male    No          No              124357
                    Yes              12837
        Yes         No               11494
                    Yes               3302
Name: HeartDisease, dtype: int64

# Segment BMI

In [34]:
#BMI Body Mass Index (BMI)
value,index=data['BMI'].value_counts().values,data['BMI'].value_counts().index
print("BMI Column's Count Values : ")
pd.DataFrame(value,index,columns=['Count'])

BMI Column's Count Values :

       Count
BMI
26.63   3762
27.46   2767
27.44   2723
24.41   2696
27.12   2525
...      ...
59.85      1
50.59      1
92.53      1
62.95      1
46.56      1

[3604 rows x 1 columns]

In [35]:
bins = [0, 18.5, 25, 30, 35, np.inf]
names = ['Underweight', 'Normal weight', 'Overweight', 'Obese', 'Extremly Obese']
data['SegmentBMI'] = pd.cut(data['BMI'],bins, labels=names)
data.drop('BMI',axis=1,inplace=True)
data.head()

,HeartDisease,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,SegmentBMI
0,No,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes,Underweight
1,No,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No,Normal weight
2,No,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No,Overweight
3,No,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes,Normal weight
4,No,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No,Normal weight

In [36]:
value,index=data['SegmentBMI'].value_counts().values,data['SegmentBMI'].value_counts().index
print("SegmentBMI Column's Count Values : ")
pd.DataFrame(value,index,columns=['Count'])

SegmentBMI Column's Count Values :

                 Count
SegmentBMI
Overweight      114355
Normal weight    97778
Obese            61169
Extremly Obese   41379
Underweight       5114

# Object Columns

In [37]:
obj=data.select_dtypes(include=object).columns
pd.DataFrame(obj,columns=['Object Columns'])

      Object Columns
0       HeartDisease
1            Smoking
2    AlcoholDrinking
3             Stroke
4        DiffWalking
5                Sex
6        AgeCategory
7               Race
8           Diabetic
9   PhysicalActivity
10         GenHealth
11            Asthma
12     KidneyDisease
13        SkinCancer

In [38]:
data['SegmentBMI'].dtypes

CategoricalDtype(categories=['Underweight', 'Normal weight', 'Overweight', 'Obese',
                  'Extremly Obese'],
, ordered=True, categories_dtype=object)

In [39]:
obj=list(obj)
obj.append('SegmentBMI')
pd.DataFrame(obj,columns=['Object Columns'])

      Object Columns
0       HeartDisease
1            Smoking
2    AlcoholDrinking
3             Stroke
4        DiffWalking
5                Sex
6        AgeCategory
7               Race
8           Diabetic
9   PhysicalActivity
10         GenHealth
11            Asthma
12     KidneyDisease
13        SkinCancer
14        SegmentBMI

# Transform Object Columns

In [53]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
for col in obj:
    data[col]=label.fit_transform(data[col])
data

,HeartDisease,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer,SegmentBMI
0,0,1,0,0,3.0,30.0,0,0,7,5,2,1,4,5.0,1,0,1,4
1,0,0,0,1,0.0,0.0,0,0,12,5,0,1,4,7.0,0,0,0,1
2,0,1,0,0,20.0,30.0,0,1,9,5,2,1,1,8.0,1,0,0,3
3,0,0,0,0,0.0,0.0,0,0,11,5,0,0,2,6.0,0,0,1,1
4,0,0,0,0,28.0,0.0,1,0,4,5,0,1,4,8.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319790,1,1,0,0,7.0,0.0,1,1,8,3,2,0,1,6.0,1,0,0,3
319791,0,1,0,0,0.0,0.0,0,1,3,3,0,1,4,5.0,1,0,0,3
319792,0,0,0,0,0.0,0.0,0,0,5,3,0,1,2,6.0,0,0,0,1
319793,0,0,0,0,0.0,0.0,0,0,1,3,0,0,2,12.0,0,0,0,2
319794,0,0,0,0,0.0,0.0,0,0,12,3,0,1,2,8.0,0,0,0,0

# Show Data Correlation